
MineGameAPI/Test/obj/project.nuget.cache
MineGameAPI/Test/obj/project.assets.json
MineGameAPI/Test/obj/Debug/net8.0/Test.GeneratedMSBuildEditorConfig.editorconfig
MineGameAPI/Test/obj/Debug/net8.0/Test.assets.cache
MineGameAPI/Test/obj/Debug/net8.0/Test.AssemblyInfoInputs.cache
MineGameAPI/Test/obj/Debug/net8.0/Test.AssemblyInfo.cs
MineGameAPI/MineGameAPI/obj/project.nuget.cache
MineGameAPI/MineGameAPI/obj/project.assets.json
MineGameAPI/MineGameAPI/obj/MineGameAPI.csproj.nuget.dgspec.json
MineGameAPI/MineGameAPI/obj/Debug/net8.0/refint/MineGameAPI.dll
